
<div class="container spacer">
  <div class="panel panel-primary">
    <div class="panel-heading"><strong>Liste des contacts</strong></div>
    <div class="panel-body">
      <div class="form-group">
        <label>Mot clé</label>
        <input type="text" [(ngModel)]="motcle" > 
       <button class="btn btn-primary" (click)="recherche()">chercher</button>
      </div>
      <table class="table table-striped">
        <tr>
          <th>ID</th><th>NOM</th><th>Prenom</th><th>Date-Naissance</th><th>Email</th><th>Tel</th><th>Photo</th>
        </tr>

        <tr *ngFor="let c of pagecont?.content">
          <td>{{c.id}}</td>
          <td>{{c.nom}}</td>
          <td>{{c.prenom}}</td>
          <td>{{c.datenaissance}}</td>
          <td>{{c.email}}</td>
          <td>{{c.tel}}</td>
          <td>{{c.photo}}</td>
        </tr>
      </table>
      <div class="container">
        <ul class="nav nav-pills">
          <li [ngClass]="{'active':i==currentpage}" *ngFor="let p of pages; let i=index">
            <a class="clickable" (click)="gotopage(i)">{{i}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>